body {
    background-color:#97e8f5;
}

.row {
    margin-left: 350px;
}

.table{
    background-color: whitesmoke;
    margin-top: 30px;
}

.cpt {
    color: black;
    text-align: center;
    font-size: 40px;
}
#dark{
    background-color: rgb(39, 38, 38);
}

#dark .cpt {
    color: white;
}